<h1 class='dialog-title'>{{ movie }}</h1>
<mat-dialog-content>
    <div *ngIf='type === "genre"'>
        <p><strong>Genre: </strong>{{ data.Name }}</p>
        <p><strong>Description: </strong>{{ data.Description}}</p>
    </div>

    <div *ngIf='type === "director"'>
        <p><strong>Director: </strong>{{ data.Name }}</p>
        <p><strong>About: </strong>{{ data.Bio}}</p>
    </div>

    <div *ngIf='type === "summary"'>
        <p>{{ data }}</p>
    </div>

    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>

</mat-dialog-content>