<div>
    <nav>
      <button mat-button class='nav-button' (click)='redirectMovies()'>Home</button>
      <button mat-button class='nav-button' (click)='logout()'>Logout</button>
    </nav>
</div>

<div class='profile-edit'>
  <h2>Your Profile</h2>
  <mat-card>
      <p id='edit-instruction'>Edit your profile information below:</p>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]='userData.Username'
            placeholder='Username'
            type='text'
            name='newUsername'
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]='userData.newPassword'
            placeholder='********'
            type='password'
            name='Password'
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]='userData.Email'
            placeholder='Email'
            type='email'
            name='Email'
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]='userData.Birthday'
            placeholder='Birthday'
            type='date'
            name='Birthday'
          />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        (click)='editUser()'
        color='primary'
        class='profile-button'
      >
        Update Info
      </button>
      <button
        mat-raised-button
        (click)='deleteAccount()'
        color='warn'
        class='profile-button'
      >
        Delete Account
      </button>
    </mat-card-actions>
  </mat-card>
</div>
  
<div class='favorite-movies'>
  <h2>Your Favorite Movies</h2>

  <div class='movie-list'>
    <mat-card *ngFor='let movie of favoriteMovies' style='flex: 1 1 auto;' class='movie-card'>

        <div *ngIf="favoriteMovies.length === 0">
            <p>You haven't picked any favorite movies yet.</p>
        </div>
        
        <div>
          <mat-card-header>
            <mat-card-title>{{ movie.Title }}</mat-card-title>
          </mat-card-header>
          <img class='movie-cover' src={{movie.ImagePath}} alt={{movie.Title}} />
          <mat-card-actions>
              <button
              mat-raised-button
              (click)='removeFavorite(movie._id)'
              color='primary'
              >
              Remove
              </button>
          </mat-card-actions>
        </div>
    </mat-card>
  </div>
</div>
  